# Node / Frontend
node_modules/
frontend/dist/
frontend/.vite/

# Go / Backend
backend/banking-api
backend/*.exe

# Entornos
.env
*.env.local

# Datos de TigerBeetle si algún día se generan localmente
*.tigerbeetle

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log